/* .mapContainer{
    background-color: #D36930;
    border-radius: 5px;
} */

.mapSection{
    display: flex;
    align-items: center;
    background-color: #de6120;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    color: white;
    gap: 3.2rem;
}

.mapContainer{
    flex: 1;
    border-radius: 1rem;
    overflow: hidden
}

.mapContainer iframe {
    width: 100%;
    height: 24em;
    border: 0;
}

.textContainer {
    flex: 1;
    align-self: flex-start;
    margin-right: .8rem;
}

.textContainer h2 {
    font-family: 'EB Garamond';
    font-size: x-large;
    font-weight: bold;
    margin: 2rem 0;
}

.textContainer p {
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.6;
    text-align: justify;
}

@media (width <792px){
    .textContainer h2{
        font-size: large;
    }
}

@media(width<728px){
    .mapSection{
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}