@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Quicksand:wght@300..700&display=swap');

.quote{
    margin-bottom: 2.4rem;
}

.Qheading{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    font-weight: bold;
}

.quote>p{
    font-family: "Quicksand";
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0.3rem;
}

@media(width<480px){
    .Qheading{
        font-size: large;
    }

    .quote>p{
        font-size: 1.1rem;
    }
}