.updateSection{
    display: flex;
    flex-direction: column;
    /* max-width: 29rem; */
    min-width: 22rem;
    flex: 1;
}

.Ulist{
    font-family: 'Quicksand';
    font-size: small;
    font-weight: 600;
    line-height: 1.6;
    padding: 1.5rem 2rem;
    margin-left: 1.6rem;
}