.form_container{
    width: 50vw;
    padding: 4rem 4.8rem;
    background-color:#F3F3F2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.grid_template{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.6rem 2.4rem;
}

.donation_details{
    margin-bottom: 2.4rem;
}

.devotee_details, .contact_details, .address_details{
    margin-bottom: 2.4rem;
}

.checkbox{
    display: flex;
    gap: 0.8rem;
    font-family: 'Quicksand';
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.Buttons{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}

.Buttons>button{
    border-style: none;
    padding: 1.6rem;
    font-family: 'EB Garamond';
    font-size: medium;
    font-weight: 700;
    border-radius: 0.8rem;
}

.NextBtn{
    background-color: #D36930;
    color: #fff;
}

.NextBtn:hover{
    background-color: #C84600;
}

.cancelBtn{
    color: #898380;
}

.cancelBtn:hover{
    background-color: #C4C1BF;
    color: #4F4540;
}