*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: 'EB Garamond',serif; */
  background-color: #F9F9F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
