.footerLic{
    background-color: #C84600;
    color: white;
    font-family: 'EB Garamond';
    font-size: x-large;
    font-weight: normal;
}

.copyrightCont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem 3.5rem;
    background-color: #A03800;
}

.copyrightCont img{
    margin: 0.5rem;
    width: 2rem;
    padding-top: 0.2rem;
}

.copyrightCont h6{
    letter-spacing: 0.1rem;
    font-weight: lighter;
}