.footerInfoCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.footerLinks a{
    font-family: 'EB Garamond';
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 1rem;
}

.footerLinks a:hover{
    font-weight: 900;
}

.socialMediaLinks img{
    padding: 1rem;
}

.socialMediaLinks img:hover{
    background-color: rgb(255, 255, 255, 0.1);
}
