.footerInfoCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.footerLinks a{
    font-family: 'EB Garamond';
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 1rem;
}

.footerLinks a:hover{
    /* font-weight: 900; */
    text-decoration: underline;
    text-underline-offset: .8rem;
}

.socialMediaLinks img{
    padding: 1rem;
    margin-top: 0.2rem;
}

.socialMediaLinks img:hover{
    background-color: rgb(255, 255, 255, 0.1);
}
